<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.song.mapper.PeopleMapper">

    <insert id="insertPeople" parameterType="People">
      insert into people(name,age) values(#{name},#{age})
    </insert>

</mapper>